/* 通用样式 */
* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 439px;
  background-color: white; /* 默认背景色为白色 */
  color: black; /* 默认文字颜色为黑色 */
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black; /* 暗黑模式下背景色为黑色 */
    color: white; /* 暗黑模式下文字颜色为白色 */
  }
}

div {
  transform-style: preserve-3d;
  cursor: pointer;
  transition: all 0.1s;
}

.card {
  width: 200px;
  height: 350px;
  margin: 0 auto;
  position: relative;
  top: 150px;
}

.card-shine {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 2px solid black;
  z-index: 8;
  border-radius: 20px;
}

.card-shadow {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  box-shadow: 0px 8px 20px 0px rgb(146, 37, 37);
  border-radius: 20px;
  z-index: 0;
}

.card-layer {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: url(../img/sea.png);
  overflow: hidden;
  z-index: -2;
}
