name: 部署文档

on:
  push:
    branches:
      - main # 确保这是你的主分支名

permissions:
  contents: write

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 安装 pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: 设置 Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: 安装依赖
        run: pnpm install

      - name: 构建文档
        run: pnpm run docs:build

      - name: 部署
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          # 部署到哪个分支。对于 .github.io 仓库，建议部署到 gh-pages 分支
          branch: gh-pages
          folder: src/.vuepress/dist
